@charset "UTF-8"
/*CSS Documents */
#topBar{

}

#mainNav
{
	width: 500px;
	height: 25px;
	margin-top: 20px;
	margin-left: auto;
	/*background-color: red;*/
}

#mainNav ul
{
	list-style-type: none;
	padding: 5px;
}

#mainNav ul li
{
	display: inline;
	font-size: 8px;
	margin-left: 30px;
}

#mainNav ul li a
{
	color: #ead726;
	padding: 5px;
	background-color: #4378a8;
	font-size: 18px;
}

.hidden
{
	display: none;
}

#mainBody{
	background-color: grey;
}